.article {
  display: flex;
  justify-content: space-between;

  > div:first-of-type {
    display: flex;
    flex-direction: column;

    h6 {
      flex-grow: 1;
    }
  }
}

.amountInformationContainer {
  width: 35%;

  > div {
    display: flex;

    > span:last-of-type {
      flex-grow: 1;
      padding-left: 0.5rem;
    }
  }
}
