@import '../assets/scss/breakpoints';

.article {
  display: block;

  > div:first-of-type {
    display: flex;
    flex-direction: row;

    @include tablet {
      display: block;
    }

    h6 {
      flex-grow: 1;
      display: inline-block;

      @include tablet {
        display: block;
      }
    }

    a {
      margin-left: 0.5rem;

      @include tablet {
        margin-left: initial;
      }
    }
  }
}

.amountInformationContainer {
  @include tablet {
    margin-top: 0.75rem;
  }

  > div {
    display: flex;

    @include mobile {
      &[class*='text-yellow'] {
        border-bottom: 1px solid var(--yellow);
      }

      &[class*='text-warning'] {
        border-bottom: 1px solid var(--warning);
      }

      &[class*='text-orange'] {
        border-bottom: 1px solid var(--orange);
      }

      &[class*='text-danger'] {
        border-bottom: 1px solid var(--danger);
      }
    }

    > span:last-of-type {
      flex-grow: 1;
      padding-left: 0.5rem;
    }
  }
}
